################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGL-Rework/.vs/OpenGL-Rework
/OpenGL-Rework/OpenGL-Rework/x64/Release
/OpenGL-Rework/x64/Release
/OpenGL-Rework/enc_temp_folder/41b653e36ad8569f337d733fd4ff9fd0
